*,*::before,*::after
{
 box-sizing: border-box;
}
body
{
 font-family: poppins;
 margin: 0;
 display: grid;
 font-size: 14px;
}

main
{
 display: -webkit-flex;
 display: -moz-deck;
 display: -ms-flex;
 display: -o-flex;
 align-items: center;
 justify-content: center;
 color: aqua;
 line-height: 3.8;
 font-size: 80px;
 text-transform: uppercase;
 font-weight: bold;
}

footer
{
 display: -webkit-flex;
 display: -moz-deck;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-flow: row wrap;
 width: 100%;
 min-height: 250px;
 bottom: 0;
 background: #1f1f24;
 color: rgb(210, 194, 176);
 padding: 100px 0 30px;
 border-top-left-radius: 125px;
 font-size: 13px;
 line-height: 20px;
}

.footer >*
{
 flex: 1 100%;
}

.footer-left
{
 margin-right: 1.25em;
 margin-bottom: 2em;
}

.footer-left img
{
 width: 50%;
}

.h2
{
 font-weight: 600;
 font-size: 17px;
}

.footer ul
{
 list-style: none;
 padding-left: 0;
}

.footer li
{
 line-height: 2em;
}

.footer a
{
 text-decoration: none;
}

.footer-right
{
 display: -webkit-flex;
 display: -moz-deck;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-flow: row wrap;
}

.footer-right > 
{
 flex: 1 50%;
 margin-right: 1.25em;
}

.box a
{
 color: #1f1f24;
}

.hr
{
 width: 90%;
 border: 0;
 border-bottom: 1px solid rgb(210, 194, 176);
 margin: 20px auto;
}

.footer-bottom
{
 text-align: center;
 color: rgb(210, 194, 176);
 padding-top: 50px;
}

.footer-left p
{
 padding-right: 20%;
 color: #1f1f24;
}

.sociais a
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:  #000;
    background: rgb(210, 194, 176);
    margin-right: 15px;
    cursor: pointer;
}

.sociais a i
{
 color: #1f1f24;
 padding: 10px 12px;
 font-size: 20px;
}

@media screen and (min-width: 600px)
{
 .foooter-right > 
 {
  flex: 1;   
 }
 .footer-left
 {
  flex: 1 5px;
 }
 .footer-left
 {
  flex: 2 0px;
 }
}

@media (max-width: 600px)
{
 .foooter
 {
  padding: 15px;   
 }
 .main
 {
  font-size: 55px;
 }
}