body
{
    /*<!-- Corpo do site -->*/

 background-color: #f3e2ea;
 margin-right: 0px;
 padding: 0px;
}

nav
{  
 list-style: none; 
 display: flex;
 justify-content: space-between;
 height: 60px;
 background-color: #ff76b6;
 box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
 padding: 0px 5%;
}